<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cai2020.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <connectionStrings>
    <!--<add name="SISEG15" connectionString="Data Source=nuestro_server;Persist Security Info=True;User ID=siseg15_desa;Password=siseg2015;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="SISEG15" connectionString="Data Source=SISEG_PRODUCCION;Persist Security Info=True;User ID=siseg15_desa;Password=siseg2015;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="cai2020" connectionString="Data Source=cai2020prod;Persist Security Info=True;User ID=cpv2020_pru_capweb;Password=cpv2020_pru_capweb;"
      providerName="Oracle.ManagedDataAccess.Client"/>-->
    <add name="cai2020" connectionString="Data Source=SampleDataSource;Persist Security Info=True;User ID=CPV2020_PRU_CAPWEB;Password=CPV2020_PRU_CAPWEB;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="cai2020" connectionString="Data Source=SampleDataSource;Persist Security Info=True;User ID=cpv2020_pru_capweb;Password=pruebaOctubre2018;" providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--<add name="SISEG15" connectionString="Data Source=siseg15;Persist Security Info=True;User ID=siseg15_desa;Password=siseg2015;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="SISEG15" connectionString="Data Source=siseg_capacitacion;Persist Security Info=True;User ID=siseg15_desa;Password=siseg15_desa;" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <location path="Scripts" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <globalization culture="es-MX" uiCulture="es-MX"/>
    </system.web>
  </location>
  <location path="Styles" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="fonts" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="imagen.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagen2.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime executionTimeout="2000" maxRequestLength="2097151"/>-->
    <httpRuntime executionTimeout="2880" maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="Index.aspx"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="index.aspx"/>-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Index_cat.aspx"/>-->
    <!--<customErrors mode="Off"/>-->
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <!--<sessionState mode="InProc" cookieless="false" timeout="2880"/>-->
    <authentication mode="Forms">
      <forms loginUrl="Index.aspx" name="ADAuthAnda" slidingExpiration="true" timeout="30"/>
      <!--<forms loginUrl="index.aspx" name="ADAuthAnda" slidingExpiration="true" timeout="30"/>-->
      <!--<forms loginUrl="Index_cat.aspx" name="ADAuthAnda" slidingExpiration="true" timeout="30"/>-->
      <!--<forms loginUrl="index.aspx" name="ADAuthAnda" slidingExpiration="true" timeout="30"/>-->
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>
    <!--<add key="SISEG" value="Data Source=nuestro_server;User ID=siseg15_desa;Password=siseg2015;"/>-->
    <!--<add key="SISEG" value="Data Source=SISEG_PRODUCCION;User ID=siseg15_desa;Password=siseg2015;"/>-->
    <!--<add key="cai2020" value="Data Source=cai2020prod;User ID=cpv2020_pru_capweb;Password=cpv2020_pru_capweb;"/>-->
    <add key="cai2020" value="Data Source=SampleDataSource;User ID=CPV2020_PRU_CAPWEB;Password=CPV2020_PRU_CAPWEB;"/>
    <!--<add key="SISEG" value="Data Source=siseg15;User ID=siseg15_desa;Password=siseg2015;"/>-->
    <!--<add key="SISEG" value="Data Source=siseg_capacitacion;User ID=siseg15_desa;Password=siseg15_desa;"/>-->
    <!--<add key="SARWEB" value="Data Source=SARWEB;User ID=cemabe_jrm;Password=cemabe2014;"/>-->
    <add key="strSmtpServer" value="exags01.inegi.org.mx"/>
    <add key="strFrom" value="luciano.rosales@inegi.org.mx"/>
    <add key="strToNavegation" value="luis.zaragoza@inegi.org.mx;"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!--<add key="AutActiveDir.ldap" value="http://intranet.wapp.inegi.gob.mx/intranet/ws/autenticacion/ldap.asmx"/>-->
    <add key="googlemaps.subgurim.net" value="ABQIAAAA5e5HLmoEi-wbmxhihRy6NBQdiXFZQaf7vSCFYV6XKJCiEiFKnhQ48IG-yMyCewrBodMhH4bj0Gba4w"/>
    <!--<add key="googlemaps.subgurim.net" value="ABQIAAAA6bEihxHnc8hOOflM9t8DWhRGsQt99sQllOxPremJN1ZyO-qlBBSItmTjxSOM9qmApJTj_QS_jCml_g" />-->
    <!--<add key="googlemaps.subgurim.net" value="ABQIAAAA5e5HLmoEi-wbmxhihRy6NBTWk0cY3Gy_s1H3EPOux1UEEZKVzRTqNBGvCnIys4k-ZuUnTLH33P42ww"/>-->
    <add key="gblQuery"/>
    <add key="AlQuery"/>
    <add key="pQuery"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>-->
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=bddesa11bd.inegi.gob.mx)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=bddesa11))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>